<h1>Plants Monitor</h1>
<br>
<div class="row">
  <div class="col-sm">
    <nb-card status="success">
      <nb-card-header>Ambient Temperature</nb-card-header>
      <nb-card-body>
        <h1>{{ (environment | async)?.temperature }} °C </h1>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="success">
      <nb-card-header>Humidity</nb-card-header>
      <nb-card-body>
        <h1>{{ (environment | async)?.humidity }} % </h1>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="success">
      <nb-card-header>Soil Moisture</nb-card-header>
      <nb-card-body>
        <h1>{{ (environment | async)?.wind }} % </h1>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="success">
      <nb-card-header>Ambient Light</nb-card-header>
      <nb-card-body>
        <h1>{{ (environment | async)?.lux }} Lux </h1>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="success">
      <nb-card-header>UV Index</nb-card-header>
      <nb-card-body>
        <h1>{{ (environment | async)?.UV }} </h1>
      </nb-card-body>
    </nb-card>
  </div>
</div>